<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>產品列表</title>
    <link rel="stylesheet" href="./src/css/all.css" class="css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <div id="app">
        <header class="d-flex jy-content-between align-items-center">
            <div class="logo">
                <h1>LOGO</h1>
            </div>
            <div class="menu">
                <ul class="d-flex d-sm-none">
                    <li>
                        <a href="#"><i class="fas fa-user-shield"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-bell"></i></a>
                    </li>
                    <li>
                        <a @click="logout" href="#"><i class="fas fa-sign-out-alt"></i></i></a>
                    </li>
                </ul>
                <div class="menu-btn" @click="modalControl.is_sideMenu = !modalControl.is_sideMenu"></div>
            </div>
        </header>

        <section class="d-flex bg--gray--300 overflow-x-h">
            <div class="side-menu d-sm-none" :class="{'small': sideToggle}">
                <div class="admin-info d-flex align-items-center jy-content-center">
                    <img src="./user-13.jpeg" alt="">
                    <div class="admin-profile" :class="{'small': sideToggle}">
                        <h3>GinJack</h3>
                        <p>Front end developer</p>
                    </div>
                </div>
                <ul>
                    <li>
                        <a href="#">
                            <i class="fas fa-tachometer-alt " :class="{'small': sideToggle}"></i>
                            <span :class="{'small': sideToggle}">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="./products.html">
                            <i class="fab fa-product-hunt " :class="{'small': sideToggle}"></i>
                            <span :class="{'small': sideToggle}">Products</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-border-all " :class="{'small': sideToggle}"></i>
                            <span :class="{'small': sideToggle}">Orders</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-ticket-alt " :class="{'small': sideToggle}"></i>
                            <span :class="{'small': sideToggle}">Coupon</span>
                        </a>
                    </li>
                </ul>
                <div class="side-toggle" @click="sideToggle = !sideToggle">
                    <i v-if="sideToggle === false" class="fas fa-arrow-alt-circle-left"></i>
                    <i v-else class="fas fa-arrow-alt-circle-right"></i>
                </div>
            </div>
            <div class="side-menu d-none d-sm-block"
                :class="{'small': sideToggle, 'show': modalControl.is_sideMenu === true, 'hide': modalControl.is_sideMenu === false}">
                <div class="admin-info d-flex align-items-center jy-content-center">
                    <img src="./user-13.jpeg" alt="">
                    <div class="admin-profile" :class="{'small': sideToggle}">
                        <h3>GinJack</h3>
                        <p>Front end developer</p>
                    </div>
                </div>
                <ul>
                    <li>
                        <a href="#">
                            <i class="fas fa-tachometer-alt " :class="{'small': sideToggle}"></i>
                            <span :class="{'small': sideToggle}">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="./products.html">
                            <i class="fab fa-product-hunt " :class="{'small': sideToggle}"></i>
                            <span :class="{'small': sideToggle}">Products</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-border-all " :class="{'small': sideToggle}"></i>
                            <span :class="{'small': sideToggle}">Orders</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-ticket-alt " :class="{'small': sideToggle}"></i>
                            <span :class="{'small': sideToggle}">Coupon</span>
                        </a>
                    </li>
                </ul>
                <div class="side-toggle" @click="sideToggle = !sideToggle">
                    <i v-if="sideToggle === false" class="fas fa-arrow-alt-circle-left"></i>
                    <i v-else class="fas fa-arrow-alt-circle-right"></i>
                </div>
            </div>
            <div class="content" :class="{'show' : sideToggle !== true}">

                <modal :modaltype="modalControl" :product="editTempProduct" :category="categoryArr"
                    @close-modal="closeModal" @loading="loadingHandler" @get-products="getProducts"
                    v-if="modalControl.is_add || modalControl.is_edit || modalControl.is_delete">
                </modal>
                <div v-if="is_loading" class="loading d-flex align-items-center">
                    <div class="loading-item "></div>
                </div>

                <div class="container d-flex jy-content-center ">
                    <div class="search w-100">
                        <div class="search__input w-30">
                            <div class="search__btn" @click="filterProducts = 'search'">
                                <i class="fas fa-search"></i>
                            </div>
                            <input @change=" filterProducts = 'search' " type="text" class="py-2 px-2 w-100"
                                v-model.trim="searchText">
                        </div>
                    </div>
                    <div class="total__product w-100 d-flex align-items-center jy-content-between">
                        <p>目前有 {{ products.length }} 樣商品</p>
                        <a @click.prevent="modalControl.is_add = true"
                            class="btn btn--success w-10" href="#">建立產品</a>
                    </div>
                    <div class="product w-100 mb-3">
                        <ul>
                            <li class="product__title d-flex jy-content-between">
                                <h3 class="">產品名稱</h3>
                                <div class="info__group w-80">
                                    <ul class="d-flex fw-bold">
                                        <li class="w-15 d-sm-none">原價</li>
                                        <li class="w-15" @click="ascending = !ascending; filterProducts = 'price' "
                                            style="cursor: pointer">售價
                                            <i v-if="ascending === false" class="fas fa-sort-numeric-up-alt ms-2"></i>
                                            <i v-else class="fas fa-sort-numeric-down ms-2"></i>
                                        </li>
                                        <li class="w-30">是否啟用</li>
                                        <li class="w-20">產品評價</li>
                                        <li class="w-20">編輯</li>
                                    </ul>
                                </div>
                            </li>
                            <li v-for="(item, index) in filterProducts" :key="item.id"
                                class="product__item d-flex jy-content-between"
                                :class="{'bg--dark--secondary': item.is_enabled == 1, 'bg--gray': item.is_enabled == 0}">
                                <h3>{{ item.title }}</h3>
                                <div class="info__group w-80">
                                    <ul class="d-flex fw-bold align-items-center">
                                        <li class="w-15 d-sm-none">${{ item.origin_price }}</li>
                                        <li class="w-15">${{ item.price }}</li>
                                        <li class="d-flex jy-content-center w-30 px-4">
                                            <div @click="editTempProduct = item;
                                             editProduct(item.id)" class="toggle"
                                                :class="{ 'active': item.is_enabled == 1 }">
                                            </div>
                                            <p :class="{ 'active': item.is_enabled == 1 }">{{ item.is_enabled == 1 ?
                                                '啟用' : '未啟用' }}</p>
                                        </li>
                                        <li class="w-20">
                                            <ul class="d-flex jy-content-center eval">
                                                <li class="me" v-for="(eval, key) in 5" :key="eval + key">
                                                    <i class="far fa-star" :class="{'active': item.eval >= eval}"></i>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="w-20 d-flex jy-content-center flex-wrap">
                                            <a @click.prevent="editTempProduct = {...item}; modalControl.is_edit= true;"
                                                class="btn btn--success w-30 mx-2" href="#"><i
                                                    class="fas fa-edit"></i></a>
                                            <a @click.prevent="editTempProduct = {...item}; modalControl.is_delete= true"
                                                class="btn btn--danger w-30 mx-2" href="#"><i
                                                    class="fas fa-trash-alt"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <pagination :pagination="pagination" @get-product="getProducts"></pagination>
            </div>
        </section>
    </div>

    <script type="text/x-template" id="productModal">
        <div class="productModal">
            <h2>{{ modalTitle }}</h2>
            <div v-if=" modaltype.is_delete === true " class="delete__content">
                <p>確定要刪除 {{ tempProduct.title }} 嗎？</p>
            </div>
            <form v-else action="#">
                <div class="form-group">
                    <div class="form-control w-50">
                        <label for="title">產品名稱</label>
                        <input id="title" class="w-100" type="text" v-model="tempProduct.title">
                    </div>
                    <div class="form-control w-50">
                        <label for="category">產品分類</label>
                        <select id="category" v-model="tempProduct.category">
                            <option value="" disabled>請選擇一個分類</option>
                            <template v-for="item in category" :key="item">
                                <option :value="item" >{{ item }}</option>
                            </template>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-control w-50">
                        <label for="originPrice">原始價格</label>
                        <input id="originPrice" type="number" min=0 v-model.number="tempProduct.origin_price">
                    </div>
                    <div class="form-control w-50">
                        <label for="price">販售價格</label>
                        <input id="price" type="number" min=0 v-model.number="tempProduct.price">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-control w-50">
                        <div class="input-checkbox">
                            <p class="mb-2">是否啟用</p>
                            <div class="toggle" @click="tempProduct.is_enabled == 0 ? tempProduct.is_enabled = 1 : tempProduct.is_enabled = 0" :class="{'active': tempProduct.is_enabled == 1}">
                            </div>
                        </div>
                    </div>
                    <div class="form-control w-50">
                        <label for="unit">單位</label>
                        <input class="w-100"  type="text" name="unit" id="unit" v-model="tempProduct.unit">
                    </div>
                </div>
                <div class="form-control">
                    <label for="content">產品內容</label>
                    <input type="text" id="content" v-model="tempProduct.content">
                </div>
                <div class="form-control">
                    <label for="desc">產品描述</label>
                    <textarea name="desc" id="desc" cols="30" rows="10" v-model="tempProduct.description"></textarea>
                </div>
                <div class="form-control eval">
                    <h3 class="mb-1">產品評價</h3>
                    <ul class="d-flex">
                        <li class="me-1">
                            <a herf="#"><i class="far fa-star active" @click="tempProduct.eval = 1"></i></a>
                        </li>
                        <li class="me-1">
                            <a herf="#"><i class="far fa-star" @click="tempProduct.eval = 2" :class="{'active': tempProduct.eval > 1}"></i></a>
                        </li>
                        <li class="me-1">
                            <a herf="#"><i class="far fa-star" @click="tempProduct.eval = 3" :class="{'active': tempProduct.eval > 2}"></i></a>
                        </li>
                        <li class="me-1">
                            <a herf="#"><i class="far fa-star" @click="tempProduct.eval = 4" :class="{'active': tempProduct.eval > 3}"></i></a>
                        </li>
                        <li>
                            <a herf="#"><i class="far fa-star" @click="tempProduct.eval = 5" :class="{'active': tempProduct.eval > 4}"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="form-control">
                    <label for="file">封面圖片</label>
                    <input @change="upload('single')" type="file" class="bg--white" id="file" name="filename"  placeholder="請輸入圖片連結" >
                    <template v-if="tempProduct.imageUrl">
                        <div class="file__img mt-2">
                                <div class="file__img__del" @click="tempProduct.imageUrl = '' ">刪除</div>
                                <img style="height: 80px" :src="tempProduct.imageUrl">
                        </div>
                    </template>
                </div>
                <div class="form-control">
                        <label for="file">多層圖片</label>
                        <input @change="upload('mult')" type="file" class="bg--white" id="file2" name="filename"  placeholder="請輸入圖片連結">
                        <template v-if="tempProduct.imagesUrl">
                            <div class="file__img me-2 mt-2" v-for="image in tempProduct.imagesUrl" :key="image">
                                <div class="file__img__del" @click="tempProduct.imagesUrl.splice(key, 1)">刪除</div>
                                <img style="height: 80px;" :src="image" >   
                            </div>
                        </template>
                </div>
            </form>
            <div class="btn-group bg--dark--secondary">
                <a @click.prevent="$emit('close-modal')"  class="btn btn--danger" href="#">取消</a>
                <a v-if="modalTitle === '新增產品'" @click.prevent="addProduct"  class="btn btn--success" href="#">新增產品</a>
                <a v-else-if="modalTitle === '編輯產品'" @click.prevent="editProduct(tempProduct.id)"  class="btn btn--success" href="#">修改產品</a>
                <a v-else="modalTitle === '刪除產品'" @click.prevent="deleteProduct(tempProduct.id)"  class="btn btn--danger" href="#">刪除產品</a>
            </div>
        </div>
    </script>


    <script type="text/x-template" id="pagination">
        <ul class="pagination d-flex align-items-center jy-content-center">
            <li v-show="pagination.has_pre" class="pagination__prev" @click="$emit('getProduct',pagination.current_page - 1)"><span><i class="fas fa-chevron-left"></i>Prev</span></li>
            <li class="pagination__item" 
                v-for="page in pagination.total_pages" 
                :key="page"
                :class="{'active': page === pagination.current_page}"
                @click="$emit('getProduct',page)">
                <span>{{ page }}</span>
            </li>
            <li v-show="pagination.has_next" class="pagination__next" @click="$emit('getProduct',pagination.current_page + 1)"> <span>Next<i class="fas fa-chevron-right"></i></span></li>
        </ul>
    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
    <script type="module" src="./src/js/product.js"></script>

</body>

</html>